.board-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 1rem 0;
}

.board {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--gap-size);
}